html {
  font-size: 16px;
  color: #4a4a4a;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 32px;
  color: #002e54;
}

.h2-white {
  color: #fff;
}

h3 {
  font-size: 21px;
  color: #002e54;
}

.h3-white {
  color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 64px;
  background-color: #002e54;
  color: #fff;
  border-bottom: 3px solid #cdb684;
  position: sticky;
  z-index: 10;
  top: 0;
}

nav .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.logo {
  display: flex;
  flex-direction: row;
  height: 32px;
  align-items: center;
}

.logo p {
  font-size: 24px;
}

nav strong {
  color: #cdb684;
}

.nav-links a {
  padding-left: 32px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

@media only screen and (min-width: 771px) {
  .nav-links a:hover {
    color: #cdb684;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 24px;
  background-color: #002e54;
  color: #fff;
}

header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

header img {
  width: 60%;
  margin-right: 12px;
}

header .content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#header-button {
  width: 80%;
  text-align: center;
  background-color: #cdb684;
  padding: 12px 0;
  border-radius: 64px;
  color: #002e54;
  text-decoration: none;
  border: 4px solid #002e54;
  font-weight: bold;
}

@media only screen and (min-width: 771px) {
  #header-button:hover {
    background-color: #002e54;
    border: 4px solid #cdb684;
    color: #fff;
  }
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 24px;
  background-color: #f3f5f5;
}

.info-main {
  width: 60%;
  padding: 32px 24px;
  border-right: 2px solid #002e54;
}

.info-main img {
  width: 100%;
  margin-right: 0 24px;
}

.info-links {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 32px 0;
}

.information-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#date #campus {
  border-bottom: 2px solid #002e54;
}

.information .desktop-img {
  width: 25%;
  height: auto;
  margin: 16px;
}

.information .text {
  padding: 0 8px;
}

.information-block a {
  text-decoration: none;
  color: #65a0e5;
}

@media only screen and (min-width: 771px) {
  .information-block:hover {
    background-color: #002e54;
    color: #fff;
  }

  .information-block:hover h3 {
    color: #fff;
  }

  .information-block:hover a {
    color: #cdb684;
  }
}

.start-learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4.5rem;
  background-color: #002e54;
  color: #fff;
}

.start-learning .courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.course {
  width: 26%;
  margin: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid white;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.course:hover {
  transform: scale(1.075);
}

.start-learning img {
  height: auto;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.start-learning .text {
  margin-top: -1.5rem;
  padding: 1rem 1rem 1.5rem;
}

.start-learning p {
  color: #767676;
}
